// Le H1 se trouve dans le HEADER et sert de titre
h1 {
}

h2 {
}

// hack pour le smoothscroll
h2 {
	position: relative;
	span {
		position: absolute;
		top:-330px;
	}
}


h3 {
}

h4 {}

h5 {}

h6 {}